.git
.github
.idea
.vscode
.vscode-oss
.worktrees.json

logs
tmp
tmp-phpstan
eval-results

.env
.phpunit.result.cache
coverage
coverage/js-unit

node_modules
**/node_modules
vendor
public/assets
public/themes

docker/development-easy/docker-compose.override.yml
docker/development-easy-light/docker-compose.override.yml
docker/development-easy-redis/docker-compose.override.yml
compose.override.yml

ccdaservice/node_modules
ccdaservice/**/node_modules

interface/modules/custom_modules/oe-module-claimrev-connect
